[submodule "base/bmodentity"]
	path = base/bmodentity
	url = git@github.com:AstricUnion/BModEntity
[submodule "base/model"]
	path = base/model
	url = git@github.com:AstricUnion/BModel
[submodule "base/tween"]
	path = base/tween
	url = git@github.com:AstricUnion/Tween
[submodule "base/beffect"]
	path = base/beffect
	url = git@github.com:AstricUnion/BEffects
